<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appel API Pokemon</title>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<div id="main" >

<h1 class="text-center">Station vélo</h1>
<!--    <pre>{{ velos }}</pre> -->
  <!--  <div v-for="velo in velos">
        <pre>{{ velo.fields.address }}</pre>
    </div>-->
    <div class="row">
        <p>Recherche par adresse :</p>
        <input type="text" class="input-group-text" v-on:change="">
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
        </tr>
        </thead>
        <tbody v-for="velo in velos" v-if="incrementCounter(velo)">{{ counter }}>
        <tr>
            <th scope="row"><pre>{{ counter }}</pre></th>
            <td><pre>{{ velo.fields.name }}</pre></td>
            <td><pre>{{ velo.fields.address }}</pre></td>
        </tr>
        </tbody>
    </table>


</div>

<script>

    var demo = new Vue({
        el: '#main',
        data: {
            velos: [],
            counter: 0
        },
        beforeCreate() {
            axios
                .get('https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_stations-velos-libre-service-nantes-metropole-disponibilites&q=&rows=50&facet=banking&facet=bonus&facet=status&facet=contract_name')
                .then(res => {
                    this.velos = res.data.records
                    console.log(res.data.records[0].fields.address)
                })
        },
        methods: {
            incrementCounter: function (velo) {
                this.counter = this.counter++
                if(this.counter>=50) {
                    return false
                } else {
                    return true
                }
            }
    });


</script>
</body>
</html>

